<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="goblin" class="game.objects.units.Bestiary.Goblin" scope="prototype">
       <property name="message" value="Hello World!"/>
       <property name="maxSpawn" value="5"/>
   </bean>

   <bean id="skeleton" class="game.objects.units.Bestiary.Skeleton" scope="prototype">
       <property name="maxSpawn" value="5"/>
       <property name="rarity" value="medium"/>
   </bean>

   <bean id="rat" class="game.objects.units.Bestiary.Rat" scope="prototype">
       <property name="maxSpawn" value="15"/>
   </bean>

   <bean id="ratKing" class="game.objects.units.Bestiary.RatKing" scope="singleton">
       <property name="maxSpawn" value="1"/>
       <property name="rarity" value="rare"/>
   </bean>

   <bean id="oilyRag" class="game.objects.items.Trinkets.OilyRag" scope="singleton">
       <property name="rarity" value="dd"/>
   </bean>

   <bean id="matches" class="game.objects.items.Useables.Matches" scope="singleton">
       <property name="rarity" value="dd"/>
   </bean>

   <bean id="woodenStick" class="game.objects.items.Weapons.WoodenStick" scope="singleton">
       <property name="rarity" value="dd"/>
   </bean>
   <bean id="longsword" class="game.objects.items.Weapons.LongSword" scope="singleton"></bean>
   <bean id="dagger" class="game.objects.items.Weapons.Dagger" scope="singleton"></bean>

   <bean id="fedora" class="game.objects.items.Armor.BrownFedora" scope="singleton"></bean>

   <bean id="bronzeCoin" class="game.objects.items.Trinkets.BronzeCoin" scope="prototype">
       <property name="maxSpawn" value="20"/>
   </bean>

   <bean id="goldCoin" class="game.objects.items.Trinkets.GoldCoin" scope="prototype">
       <property name="maxSpawn" value="5"/>
   </bean>

   <bean id="silverCoin" class="game.objects.items.Trinkets.SilverCoin" scope="prototype">
       <property name="maxSpawn" value="5"/>
   </bean>

   <bean id="idol" class="game.objects.items.Idol" scope="singleton">
       <property name="maxSpawn" value="1"/>
       <property name="rarity" value="medium-rare"/>
   </bean>

   <bean id="console" class="game.objects.items.MysteriousConsole" scope="singleton">
       <property name="maxSpawn" value="1"/>
       <property name="rarity" value="medium-rare"/>
   </bean>

    <bean id="gnarledTree" class="game.objects.items.Landmarks.GnarledTree" scope="singleton"></bean>
    <bean id="leafyTree" class="game.objects.items.Landmarks.LeafyTree" scope="singleton"></bean>
    <bean id="deadTree" class="game.objects.items.Landmarks.DeadTree" scope="singleton"></bean>
    <bean id="clownStatue" class="game.objects.items.Landmarks.ClownStatue" scope="singleton"></bean>

    <bean id="L1" class="game.objects.items.Landmarks.ThreeDPainting" scope="singleton"></bean>
    <bean id="L2" class="game.objects.items.Landmarks.Lamppost" scope="singleton"></bean>
    <bean id="L3" class="game.objects.items.Landmarks.StoneGolem" scope="singleton"></bean>
    <bean id="L4" class="game.objects.items.Landmarks.Gargoyle" scope="singleton"></bean>
    <bean id="L5" class="game.objects.items.Landmarks.Mirror" scope="singleton"></bean>
    <bean id="L6" class="game.objects.items.Landmarks.TwoFerns" scope="singleton"></bean>
    <bean id="L7" class="game.objects.items.Landmarks.EmptyThrone" scope="singleton"></bean>
    <bean id="L8" class="game.objects.items.Landmarks.Altar" scope="singleton"></bean>
    <bean id="L9" class="game.objects.items.Landmarks.GildedDoor" scope="singleton"></bean>
    <bean id="L10" class="game.objects.items.Landmarks.Hieroglyphics" scope="singleton"></bean>
    <bean id="L11" class="game.objects.items.Landmarks.Skylight" scope="singleton"></bean>
    <bean id="L12" class="game.objects.items.Landmarks.Hopscotch" scope="singleton"></bean>
    <bean id="L13" class="game.objects.items.Landmarks.Madman" scope="singleton"></bean>
    <bean id="L14" class="game.objects.items.Landmarks.PillarOfLight" scope="singleton"></bean>
    <bean id="L15" class="game.objects.items.Landmarks.Toilet" scope="singleton"></bean>


    <!--
   <bean id="gate" class="maze.MazeMap.Gate" scope="singleton">
       <property name="rarity" value="rare"/>
   </bean>
    -->

   <bean id="roomPopulator" class="game.core.maze.RoomPopulator">
        <property name="spawnSet">
            <set>
                <bean class="game.content.general.SpawningPool.GoblinSpawner">
                    <lookup-method name="spawn" bean="goblin"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SkeletonSpawner">
                    <lookup-method name="spawn" bean="skeleton"/>
                </bean>
                <bean class="game.content.general.SpawningPool.RatSpawner">
                    <lookup-method name="spawn" bean="rat"/>
                </bean>
                <bean class="game.content.general.SpawningPool.RatKingSpawner">
                    <lookup-method name="spawn" bean="ratKing"/>
                </bean>
                <bean class="game.content.general.SpawningPool.BronzeCoinSpawner">
                    <lookup-method name="spawn" bean="bronzeCoin"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SilverCoinSpawner">
                    <lookup-method name="spawn" bean="silverCoin"/>
                </bean>
                <bean class="game.content.general.SpawningPool.GoldCoinSpawner">
                    <lookup-method name="spawn" bean="goldCoin"/>
                </bean>
                <bean class="game.content.general.SpawningPool.OilyRagSpawner">
                    <lookup-method name="spawn" bean="oilyRag"/>
                </bean>
                <bean class="game.content.general.SpawningPool.WoodenStickSpawner">
                    <lookup-method name="spawn" bean="woodenStick"/>
                </bean>
                <bean class="game.content.general.SpawningPool.LongswordSpawner">
                    <lookup-method name="spawn" bean="longsword"/>
                </bean>
                <bean class="game.content.general.SpawningPool.FedoraSpawner">
                    <lookup-method name="spawn" bean="fedora"/>
                </bean>
                <bean class="game.content.general.SpawningPool.DaggerSpawner">
                    <lookup-method name="spawn" bean="dagger"/>
                </bean>
                <bean class="game.content.general.SpawningPool.MatchesSpawner">
                    <lookup-method name="spawn" bean="matches"/>
                </bean>
                <bean class="game.content.general.SpawningPool.IdolSpawner">
                    <lookup-method name="spawn" bean="idol"/>
                </bean>
                <bean class="game.content.general.SpawningPool.ConsoleSpawner">
                    <lookup-method name="spawn" bean="console"/>
                </bean>
                <bean class="game.content.general.SpawningPool.GnarledTreeSpawner">
                    <lookup-method name="spawn" bean="gnarledTree"/>
                </bean>
                <bean class="game.content.general.SpawningPool.LeafyTreeSpawner">
                    <lookup-method name="spawn" bean="leafyTree"/>
                </bean>
                <bean class="game.content.general.SpawningPool.DeadTreeSpawner">
                    <lookup-method name="spawn" bean="deadTree"/>
                </bean>
                <bean class="game.content.general.SpawningPool.ClownStatueSpawner">
                    <lookup-method name="spawn" bean="clownStatue"/>
                </bean>

                <bean class="game.content.general.SpawningPool.SpawnerL1">
                    <lookup-method name="spawn" bean="L1"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL2">
                    <lookup-method name="spawn" bean="L2"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL3">
                    <lookup-method name="spawn" bean="L3"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL4">
                    <lookup-method name="spawn" bean="L4"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL5">
                    <lookup-method name="spawn" bean="L5"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL6">
                    <lookup-method name="spawn" bean="L6"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL7">
                    <lookup-method name="spawn" bean="L7"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL8">
                    <lookup-method name="spawn" bean="L8"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL9">
                    <lookup-method name="spawn" bean="L9"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL10">
                    <lookup-method name="spawn" bean="L10"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL11">
                    <lookup-method name="spawn" bean="L11"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL12">
                    <lookup-method name="spawn" bean="L12"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL13">
                    <lookup-method name="spawn" bean="L13"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL14">
                    <lookup-method name="spawn" bean="L14"/>
                </bean>
                <bean class="game.content.general.SpawningPool.SpawnerL15">
                    <lookup-method name="spawn" bean="L15"/>
                </bean>
            </set>
        </property>
        <!--
        <property name="gateSet">
        </property>
        -->
        <!--
        <property name="unit" ref="goblin"/>
        <lookup-method name="spawnUnit" bean="goblin"/>
        <property name="populateList">
            <list>
            </list>
            <map>
                <entry>
                    <key><bean ref="goblin"/></key>
                </entry>
            </map>
        </property>
        -->
   </bean>

   <bean id="gateKeeper" class="game.core.maze.GateKeeper">
        <property name="gateSet">
            <set>
                <bean class="game.core.maze.GateBeans.GenericGateBean">
                    <property name="gateName" value="Gate"></property>
                    <property name="maxDistance" value="1.0"></property>
                    <property name="maxSpawn" value="2"></property>
                    <property name="spawnKey" value="true"></property>
                </bean>

                <bean class="game.core.maze.GateBeans.RedDoorBean">
                    <property name="gateName" value="Red Door"></property>
                    <property name="maxDistance" value="0.7"></property>
                    <property name="maxSpawn" value="1"></property>
                    <property name="spawnKey" value="true"></property>
                </bean>

            </set>
        </property>
   </bean>

</beans>